* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

.main {
  width: 500px;
  height: 500px;
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0% auto;
  margin-top: 150px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px gainsboro;
  animation-name: main;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite; }

.dit-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start; }
  .dit-section__frist {
    width: 150px;
    height: 150px;
    background: yellow;
    border-radius: 300px;
    margin-bottom: 50px;
    margin-left: 200px;
    animation-name: circle;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite; }
  .dit-section__two {
    width: 100px;
    height: 100px;
    background: yellow;
    border-radius: 200px;
    animation-name: circle;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite; }
  .dit-section__three {
    width: 50px;
    height: 50px;
    background: yellow;
    border-radius: 100px;
    animation-name: circle;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite; }

@keyframes circle {
  0% {
    background: darkcyan; }
  25% {
    background: darkblue; }
  75% {
    background: black; }
  100% {
    background: purple; } }

@keyframes main {
  0% {
    box-shadow: 5px 5px 5px 5px darkcyan; }
  25% {
    box-shadow: 5px 5px 5px 5px darkblue; }
  75% {
    box-shadow: 5px 5px 5px 5px black; }
  100% {
    box-shadow: 5px 5px 5px 5px purple; } }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px; }

.input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  animation-name: input;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite; }

@keyframes input {
  0% {
    border: 2px solid darkcyan; }
  25% {
    border: 2px solid darkblue; }
  75% {
    border: 2px solid black; }
  100% {
    border: 2px solid purple; } }
